/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-mcgpalette1: (
    50 : #fffee7,
    100 : #fffcc3,
    200 : #fffb9b,
    300 : #fef973,
    400 : #fef755,
    500 : #fef637,
    600 : #fef531,
    700 : #fef32a,
    800 : #fef223,
    900 : #fdef16,
    A100 : #ffffff,
    A200 : #fffffa,
    A400 : #fffbc7,
    A700 : #fffaad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette2: (
    50 : #ffefe0,
    100 : #ffd7b3,
    200 : #ffbd80,
    300 : #fea24d,
    400 : #fe8e26,
    500 : #fe7a00,
    600 : #fe7200,
    700 : #fe6700,
    800 : #fe5d00,
    900 : #fd4a00,
    A100 : #ffffff,
    A200 : #fff4f1,
    A400 : #ffcdbe,
    A700 : #ffb9a4,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

