:root {
  --mobileMedia: 600px;

  --default-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
  --decelerate-bezier: cubic-bezier(0.0, 0.0, 0.2, 1);
  --accelerate-bezier: cubic-bezier(0.4, 0.0, 1, 1);

  --elevation-1: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  --elevation-2: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  --elevation-3: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  --elevation-4: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

body,
body[theme='light'] {
  --theme-primary: #12823F;
  --theme-accent: #fff;
  --theme-warn: #fe7a00;
  --theme-on-primary: #000;
  --theme-on-accent: #000;
  --theme-on-warn: #222;
  --foreground: #222;
  --background: #AAA;

  --overlay: #222222ED;
  --svg-foreground: #000;
}


body[theme='dark'] {
  --theme-primary: #222;
  --theme-accent: #fef637;
  --theme-warn: #fe7a00;
  --theme-on-primary: #fff;
  --theme-on-accent: #222;
  --theme-on-warn: #222;
  --foreground: #222;
  --background: #666;

  --overlay: #222222ED;
  --svg-foreground: #000;
}

body {
  background-color: var(--background);
}

* {
  margin: 0;
  box-sizing: border-box;
}



body {
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;

  font-size: 16px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

*[hidden] {
  display: none;
  pointer-events: none;
}

*[text-ellipsis] {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}